.item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 0;
    border-bottom: 1px solid #F2F2F3;
}

.item:first-child {
    border-top: 1px solid #F2F2F3;
}


.goods {
    flex-grow: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.title {
    font-weight: 400;
    margin-bottom: 1px;

}

.weight {
    color: #B1B1B1;
    margin-bottom: 6px;
}

.image {
    width: 64px;
    height: 52px;
    border-radius: 8px;
}

@media (min-width: 1024px) {
    .item {
        padding: 15px 0;
    }
}