@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../asets/fonts/nunito-v25-latin_cyrillic-regular.woff2') format('woff2'),
    url('../asets/fonts/nunito-v25-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
    url('../asets/fonts/nunito-v25-latin_cyrillic-600.woff2') format('woff2'),
    url('./asets/fonts/nunito-v25-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
    url('../asets/fonts/nunito-v25-latin_cyrillic-800.woff2') format('woff2'),
    url('../asets/fonts/nunito-v25-latin_cyrillic-800.woff') format('woff');
}

html {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F9F9F9;
  color: #000000;
  position: relative;
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}



.currency {
  font-weight: 400;
}